<h2 class="text-dark text-center pb-5 pt-5">Products table</h2>
<div class=" text-center ">
  <div class="row  w-50 mb-5 mx-auto">
    <div class="col input-group d-flex  align-items-center">
      <label>Search</label>
      <input type="text" [(ngModel)]="prodName" class="ms-4  form-control">
    </div>
  </div>
  <table class="table table-success table-striped mx-auto w-50 mb-5 table-responsive">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>image</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of find(product)">
        <td class="align-middle"> {{item.id}}</td>
        <td class="align-middle"> {{item.name}}</td>
        <td class="align-middle"> {{item.price}}</td>
        <td><img src={{item.img}} height="130" width="100"> </td>
      </tr>
    </tbody>
  </table>
</div>